@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Slabo+27px&display=swap');

:root{
    --cor-primaria: #fff;
    --cor-titulo: #fff;

}

*{margin: 0;padding: 0;box-sizing: border-box; list-style: none;}
body{
    background-image:linear-gradient(rgba(0,0,0,.70),rgba(0,0,0,.70)100%), url(./../imagens/background-paginaPrincipal.jpg);
    background-size:cover;
}
.body-principal{
    background-image:linear-gradient(rgba(0,0,0,.70),rgba(0,0,0,.70)100%), url(./../imagens/background-paginaPrincipal.jpg);
    background-size:cover;
}

.body-formCadastro{
    background-image:linear-gradient(rgba(0,0,0,.80),rgba(0,0,0,.70)100%), url(./../imagens/background-formCadastro.jpg);
    background-size:cover;
}

main{
    display: flex;
    justify-content: flex-end;
    margin: 200px 80px 0 0;
}

.container-principal{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,.70)100%);
    width: 50%;
    height: 400px;
} 
.menu-lista{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top :60px ;
}
.menu-lista ul li{
    width: 100%;
    padding: 10px;
}
.menu-lista ul li:hover{
    background:rgb(82, 81, 81);
}
.titulo-principal{
    font-family: 'Major Mono Display', monospace;
    color: var(--cor-titulo);
    margin-top :20px ;
}

.letra{
    font-family: 'Slabo 27px', serif; 
    font-size: 25px;
    text-decoration: none;
    color: var(--cor-titulo);
    padding: 10px;
}

footer{
    position: sticky;
    width: 100%;
    height: 100px;
    background: black;
}

.footer{
    margin: 260px 0 0 500px;
}

.footer h4{
    color: var(--cor-titulo);
    font-family: 'Slabo 27px', serif; 
}