@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Slabo+27px&display=swap');

:root{
    --cor-primaria: #fff;
    --cor-titulo: #fff;

}

*{margin: 0;padding: 0;box-sizing: border-box; list-style: none;}
body{
    background-image:linear-gradient(rgba(0,0,0,.70),rgba(0,0,0,.70)100%), url(./../imagens/background-buscaDisciplina.jpg);
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 300px;
}


.titulo-principal{
    font-family: 'Major Mono Display', monospace;
    color: var(--cor-titulo);
    margin :10px 0 ;
}

.letra{
    font-family: 'Slabo 27px', serif; 
    font-size: 25px;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.form-busca{
    background: var(--cor-primaria);
    width: 40%;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}
.btn{
    height: 30px;
    float: right;
    font-family: 'Slabo 27px', serif; 
    background: #0a85ff ;
    margin-top: 20px;
}
.volta{
    text-decoration: none;
    width: 30%;
    padding: 5px 30px;
    color: black;
    font-family: 'Slabo 27px', serif; 
    margin-top: 10px;
}
footer{
    position: sticky;
    width: 100%;
    height: 100px;
    background: black;
    margin-top:260px;
}

.footer{
    margin: 260px 0 0 500px;
}

.footer h4{
    color: var(--cor-titulo);
    font-family: 'Slabo 27px', serif; 
}